@font-face {
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Century Gothic"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/centurygothic.ttf") format("ttf"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         /* url("/fonts/roboto.woff") format("woff"); */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #fff;
}

.content {
    width: 1400px;
}


body{
    background-image: url(images/knife.jpg);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    font-family: "Century Gothic", "Arial", sans-serif;
    scroll-behavior: smooth;
}
.buttons{
    display: flex;
    position: relative;
    color: white;
}
.header{
    display: flex; 
    justify-content: space-around;
    width: 1700px;
    background-color: #181818;
}
.but{
   display: flex;
    margin-top: 35px;
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}

.but::after { 
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: -1px; 
    width: 100%; 
    height: 2px; 
    background-color: #fff; 
    transform: scaleX(0); 
    transition: transform 0.3s ease-in-out; 
  } 
   
.but:hover::after { 
    transform: scaleX(1); 
  }

.i{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 33px;
    width: 98px;
}

.t{
    display: flex;
    position: absolute;
    margin-top: 450px;
    margin-left: 200px ;
    color: white;
    justify-content: flex-start;
    transform: rotate(-90deg);
    font-size: 40px;
}

.main {
    display: flex;
}
.menu {
    display: flex;
}

.btn { 
    position: relative; 
    text-decoration: none; 
 } 

.na4alo {
    display: flex;
    position: absolute;
    margin-top: 450px;
    margin-left: 450px ;
    color: white;
    justify-content: flex-start;
    font-size: 30px;
}

.man {
    position: absolute;
    margin-top: 145px;
    margin-left: 600px;
    width: 600px;
}
   
.circle {
    background: #350c0c;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: absolute;
    margin-top: 235px;
    margin-left: 650px;

}



.back55 {
    width: 980px;
    margin-top: -150px;
    margin-left: 185px;
}

.soveti {
    color: white;
    position: absolute;
    margin-top: 360px;
    margin-left: 1230px;
}

.gg {
    padding: 15px
}

a {
    text-decoration:none;
    color: white;
  }

.soveti-url {
    position: absolute;
    font-size: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white; 
    border-left: 2px solid white;
    padding: 10px;
    margin-left: 1450px;
    margin-top: 200px;
}

.start {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 200px;
    margin-top: 875px;
    font-size: 70px;
    padding: 50px;
    width: 1500px;
    justify-content: center;
    text-align: center;
}

.green-color {
    color:greenyellow;
    font-size: 45px
}

.na4ni {
    color: greenyellow;
}

.startuem {
    position: absolute;
    margin-top: 550px;
    margin-left: 1230Px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(65, 16, 16);
    height: 50px;
    width: 130px;
}

.o {
    color: black;
}

.z {
    color: white;
}

.znaniya {
    position: absolute;
    margin-top: 550px;
    margin-left: 1380px;
    height: 50px;
    width: 140px;
}

.container  {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid white;

}

.n {
    position: absolute;
    color: white;
    font-size: 30px;
}

#n1 {
    margin-top: 1150px;
    margin-left: 450px;
}

#n1t {
    margin-top: 1200px;
    margin-left: 900px;
}

#n2 {
    margin-top: 1650px;
    margin-left: 1050px;
}

#n2t {
    margin-top: 1700px;
    margin-left: 425px;
}

#n3 {
    margin-top: 2150px;
    margin-left: 450px;
}

#n3t {
    margin-top: 2200px;
    margin-left: 900px;
}

.burger {
    font-size: 50px;
    margin-top: 15px;
    display: none;
}

.ikonka {
    width: 125x
}

.ikonka1{
    width: 200px;
}

.pllp {
    cursor: pointer;
}
/* .start1 {
    position: absolute
} */
.krestik {
    display: none;
}




@media only screen and (max-width: 768px) {
    .burger {
        display: block;
        font-size: 50px;
        cursor: pointer;

    }
    .none {
        display: none;

    }
    .ikonka {
        width: 10px;
    }
    .menu--active {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 130px;
        margin-left: 100px;
        padding: 10px;
        z-index: 2;
        background-color: #313030;
        border-radius: 25px;
        animation: fade-in 1s;
    }
    .circle {
        background: limegreen;
        border-radius: 50%;
        height: 350px;
        width: 350px;
        position: absolute;
        margin-top: 170px;
        margin-left: 680px;
    }
    .man {
    position: absolute;
    margin-top: 130px;
    margin-left :700px;
    width: 275px;
    }
    .start {
    position: absolute;
    margin-left: 475px;
    margin-top: 545px;
    font-size: 45px;
    padding: 50px;
    width: 750px;
    }
    .start1 {
        display: none;
    }
    .na4alo {
        margin-top: 200px;
        margin-left: 550px;
        font-size: 20px;
    }
    .soveti {
        color: white;
        position: absolute;
        margin-top: 230px;
        margin-left: 750px;
        font-size: 12px;
        background-color: rgb(24, 161, 161);
        border-radius: 10px;
        box-shadow: -19px 18px 12px -4px rgba(0,0,0,0.1);
        padding: 5px;
        width: 300px;
        z-index: 2;
        animation: fade-in 1s;
    }
    
    @keyframes fade-in {
        from {
          display: none;
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          display: block;
          opacity: 1;
          transform: translateY(0px);
        }
      }

    .znaniya {
        position: absolute;
        margin-top: 250px;
        margin-left: 1100px;
        font-size: 20px;
        width: 100px;
    }
    .back55 {
        width: 800px;
    }
    .bg {
        margin-left: 450px;
        margin-top: -80px;
        z-index: -1;
    }
    .soveti-url {
        margin-left: 1100px;
        margin-top: 125px;
    }
    .t {
        display: none;
    }
    .krestik {
        display: flex;
        position: absolute;
        margin-left: 270px;
        margin-top: -165px;
        font-size: 15px;
        color: black;
        cursor: pointer;
    }


}
