@font-face {
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Century Gothic"),
      /* Если не получилось, загрузит woff2 */
      url("/fonts/centurygothic.ttf") format("ttf");
    /* Если браузер не поддерживает woff2, загрузит woff */
    /* url("/fonts/roboto.woff") format("woff"); */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  
  html,
  body {
    height: 100%;
  }
  
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  .none {
    display: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  body {
    background: linear-gradient(45deg, #200909, #0e0c0c);
    background-attachment: fixed;
    font-family: "Century Gothic", "Arial", sans-serif;
    scroll-behavior: smooth;
  }
  
  main {
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
  
  h1 {
    font-family: "Playfair Display SC", serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ebbc80;
    text-align: center;
  }


  .Quiz {
    display: flex;
    margin-top: 0px;
  
    border: 0.2px solid #ebbc80;
    border-radius: 15px;
  
    height: 1024px;
    padding: px;
    width: 1000px;
    background-color: rgb(2, 2, 26);

    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .Question-block {
    width: 100px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: ;
  }

  .Answer {

    color: #ebbc80;
    padding: 10px;
    left: 1000px;
  }

  .Answers {
    display: flex;
  }


  .question-text {
    color: #ebbc80 ;
    font-size: 30px;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input:checked {
    border: 6px solid rgb(255, 255, 255);
  }