* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(images/tekstura-lista-bumagi-v-kletku-2048x1366.jpg)
}

@font-face {
    font-family: 'vamp';
    src: url(fonts/PunkCyber-ExtrudeSlant.ttf);
}

@font-face {
    font-family: 'Achron';
    src: url(fonts/KINKY.otf);
}

@font-face {
    font-family: 'Cactus Jack';
    src: url(fonts/Cactus\ Jack.otf);
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    width: 80%;
}

.header-title {
    font-family: 'Cactus Jack';
    Letter-spacing: 11px;
    font-size:  14vh;
    color: rgb(0, 0, 0);
    line-height: 50px;
}

.header-img {
    width: 15vh;
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}


.about-me-text {
    font-family: 'Achron';
    font-size: 160px;
    display: flex;
    align-items: center;
    max-width: 750px;
}

.about-me-img  {
    display: flex; 
    justify-content: center;
    max-width: 100%;
    width: 390px;
}

.about-me-description {
    font-family: 'Cactus Jack';
    font-size: 100px;
    display: flex;
    margin-left: 25px;
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
}

.arrow-img {
    transform: rotate(-270deg);
    width: 120px;
}

.projects-title {
    display: flex;
    margin-top: 70px;
    font-size: 150px;
    justify-content: center;
    font-family: 'Cactus Jack';
}

.projects-block {
    width: 100%;
    margin-top: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cactus Jack';
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.project-title {
    display: flex; 
    font-size: 70px; 
    justify-content: center;
}

.project-img {
    width: 500px;
}

.Lomonosov {
    height: 450px;
}

.project-text {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 1121px) {
    .header-content {
        gap: 50px;
    }

    .header-title {
        font-size: 110px;
    }

    .arrows {
        display: none;
    }

    .about-me-img {
        display: none;
    }

    .about-me-description {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 900px) {

    .header-title {
        font-size: 90px;
        
    }

    .header-img {
        width: 115px;
    }
}

@media only screen and (max-width: 800px) {
        .header-img {
            width: 100px;
        }

        .about-me-text {
            font-size: 140px;
        }

        .about-me-description {
            font-size: 80px;
        }
}

@media only screen and (max-width: 685px) {

    .about-me-text {
        font-size: 110px;
    }

    .about-me-description {
        font-size: 70px;
    }

    .project-img {
        width: 400px;
    }

    .Lomonosov {
        height: 355px;
    }
}

@media only screen and (max-width: 890px) {
    .header-title {
        max-width: 150px;
    }
}

@media only screen and (max-width: 540px) {
    .about-me-text {
        font-size: 100px;
    }

    .about-me-description {
        font-size: 60px;
    }

    .projects-title {
        font-size: 100px;
    }
}

@media only screen and (max-width: 480px) {
    .about-me-text {
        font-size: 85px;
    }

    .header-title {
        font-size: 80px;
        max-width: 330px;
    }

    .header-img {
        display: none;
    }

    .project-img {
        width: 350px;
    }

    .project-text {
        font-size: 45px;
    }
}

@media only screen and (max-width: 410px) {
    .header-img {
        width: 70px;
    }
    
    .about-me-text {
        font-size: 70px;
    }
}