@font-face {
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Century Gothic"),
      /* Если не получилось, загрузит woff2 */
      url("/fonts/centurygothic.ttf") format("ttf");
    /* Если браузер не поддерживает woff2, загрузит woff */
    /* url("/fonts/roboto.woff") format("woff"); */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  
  html,
  body {
    height: 100%;
  }
  
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  .none {
    display: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  body {
    background: linear-gradient(45deg, #200909, #0e0c0c);
    background-attachment: fixed;
    font-family: "Century Gothic", "Arial", sans-serif;
    scroll-behavior: smooth;
  }
  
  main {
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
  
  h1 {
    font-family: "Playfair Display SC", serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ebbc80;
    text-align: center;
    font-size: 60px;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  header {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  .fixed-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 20px;
  
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  
    border-radius: 10px;
    background: linear-gradient(45deg, #080400, #661818);

    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 80px;
  }
  ul {
    margin: 0;
  }
  li {
    list-style: none;
    margin-right: 25px;
    font-size: 20px;
  }
  .ikonka1 {
    width: 20%;
    position: relative;
  }
  main {
    margin-top: 150px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .Quiz {
    display: flex;
    margin-top: 0px;
  
    border: 0.2px solid #ebbc80;
    border-radius: 15px;
  
    height: 1524px;
    padding: px;
    width: 1000px;
    background-color: rgb(2, 2, 26);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  } 

  .katarina-test {
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(158, 63, 34),
    0 0 0.2em rgb(172, 30, 25);
  }

  .Question-block {
      display: flex;
      flex-direction: column;
      width: 450px;
      border: 1px solid #ebbc80;
      border-radius: 15px;
      padding: 10px;
      background-color: #040125;
      -webkit-box-shadow: 0px 4px 8px 14px rgba(11, 11, 11, 0.31);
      -moz-box-shadow: 0px 4px 8px 14px rgba(11, 11, 11, 0.31);
      box-shadow: 0px 4px 8px 14px rgba(11, 11, 11, 0.31);
    }

  .Answer {

    color: #ebbc80;
    padding: 10px;
    left: 1000px;
  }

  .Answers {

  }


  .question-text {
    color: #ebbc80 ;
    font-size: 30px;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input:checked {
    border: 6px solid rgb(255, 255, 255);
  }

  .resultat-text {
    color: #ebbc80 ;
    font-size: 30px;
    border: 2px solid #ebbc80;
    border-radius: 20px;
    padding: 12px;
    background-color: #050101;
    -webkit-box-shadow: 0px 4px 8px 14px rgba(11, 11, 11, 0.31);
    -moz-box-shadow: 0px 4px 8px 14px rgba(11, 11, 11, 0.31);
    box-shadow: 0px 4px 8px 14px rgba(11, 11, 11, 0.31);
  }